.anticon {
    vertical-align: 0.08em;
}

.ant-page-header-back {
    font-size: 30px;
}

.ant-page-header-title-view-title {
    font-size: 30px;   
}

.ant-page-header-title-view-sub-title {
    font-size: 18px;
}

